.list {
  margin-bottom: 30px;

  &__add-button {
    svg,
    span,
    img {
      opacity: 0.5;
    }
    img {
      height: 15px;
      width: 15px;
    }

    &:hover {
      svg,
      span,
      img {
        opacity: 1;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }

    .badge {
      position: relative;
      left: 4px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;
      // svg {
      //   fill: #7c7c7c;
      // }
    }
  }
}
